- if @like
  = link_to movie_like_path(@movie, @like), method: :delete do
    = fa_icon 'thumbs-down'
    Unlike
- else
  = link_to movie_likes_path(@movie), method: :post do
    = fa_icon 'thumbs-up'
    Like
= "(#{@movie.likes.count})"
