%h1= @movie.title
.jumbotron
  = @movie.description
  %h3 Description
  = @plot
.jumbotron
  %p= "Movie rating #{@rating}"
  - if user_signed_in?
    = render 'like'
.jumbotron
  %img(src="https://pairguru-api.herokuapp.com/#{@poster}")
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'
